@use '../abstracts/variables' as v;

#restart-button {
    display: none;
    margin: auto;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: v.$accent-color;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  
#restart-button:hover {
    cursor: pointer;
    background-color: #f85523;
}

// @media screen and (min-width: 1200px) {
    
// }

// @media screen and (min-width: 1920px) {
    
// }

