@use '../abstracts' as a;

header {
    text-align: center;
    padding-top: 20px;
    img {
        width: 190px;
    }
}

@media screen and (min-width: 1200px) {
    header {
        img {
            width: 280px;
        }
    }
}